*{
    display:flex;
    justify-content: center;
    
}
title{
    font-size: large;
    

}
#login{
    display:flex;
    flex-direction: column;
}
#register{
    display:flex;
    flex-direction: column;
}